body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff7f0;
}

nav {
    background: #ff914d;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

section {
    display: none;
    text-align: center;
    padding: 40px;
}

.active {
    display: block;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #ff914d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #ff6f1a;
}